@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  body {
    /* Dark mode styles for mobile */
    background-color: #111;
    color: #fff;
  }
}
